.class1{
    margin-left: 100px;
    background-color: yellow;
}


.class2{
    margin-left: 100px;
    background-color: rgb(27, 69, 185);
}

.class3{
    margin-left: 100px;
    background-color: rgb(212, 70, 165);
}